<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/public/css/login.css" /> 
    </head>
    <body>
       {{> navbar}}
       
        <main>
            <section>
                <h2>Login form</h2>
                <form>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required><br><br>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required><br><br>
                    <input type="submit" value="submit">
                    <input type="button" value="Create Account" onclick="window.location.href='/register'" />
                </form>
            </section>
        </main>
       <footer>
		    <h3>Jeshwanth Singh &copy; 2023</h3>
	    </footer>
        <script src="" async defer></script>
    </body>
</html>
