<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Post Video</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/public/css/postvideo.css" /> 
    </head>
    <body>
        {{> header}}
        {{> navbar}}
       
        <h1>Post video</h1>
        <form>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required><br><br>
      
            <label for="description">Description:</label>
            <textarea id="description" name="description" required></textarea><br><br>
      
            <label for="video-file">Video:</label>
            <input type="file" id="video-file" name="video-file" accept="video/*" required><br>
      
            <label for="policy-agreement">Acceptable Use Policy:</label>
            <input type="checkbox" id="policy-agreement" name="policy-agreement" required>
            <label for="policy-agreement">I agree to the Acceptable Use Policy for uploading videos.</label><br><br>
      
            <input type="submit" value="Submit">
        </form>
        {{> footer}}
        <script src="" async defer></script>
    </body>
</html>
