<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Profile</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/public/css/profile.css" /> 
    </head>
    <body>
        {{> header}}
        {{> navbar}}

        <h1>User Profile</h1>

        <h2>Username: [insert username here]</h2>

        <p>Email: [insert email here]</p>

        <h3>My Posts:</h3>
        <ul>
            <li>
                <a href="viewpost.html">[insert post title here]</a>
                <p>Posted on: [insert post creation time here]</p>
            </li>
            <li>
                <a href="viewpost.html">[insert post title here]</a>
                <p>Posted on: [insert post creation time here]</p>
            </li>
        </ul>
        {{> footer}}
        <script src="" async defer></script>
    </body>
</html>
