<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Create an Account</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/public/css/registration.css" /> 
    </head>
    <body>
        {{> header}}
        {{> navbar}}

        <main>
            <section>
                <h2>Create an Account</h2>
                <form id="registration-form"
                    action="/users/registration"
                    method="POST"
                    enctype="application/x-www-form-urlencoded">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                    <span id="username-error" class="error-message"></span><br><br>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                    <span id="email-error" class="error-message"></span><br><br>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                    <span id="password-error" class="error-message"></span><br><br>
                    <label for="confirm-password">Confirm Password:</label>
                    <input type="password" id="confirm-password" name="confirm-password" required>
                    <span id="confirm-password-error" class="error-message"></span><br><br>
                    <label for="age-confirmation">I am 13+ years of age:</label>
                    <input type="checkbox" id="age-confirmation" name="age-confirmation" required>
                    <span id="age-confirmation-error" class="error-message"></span><br><br>
                    <label for="tos-confirmation">I accept the <a href="#">Terms of Service</a> and <a href="#">Privacy Rules</a>:</label>
                    <input type="checkbox" id="tos-confirmation" name="tos-confirmation" required>
                    <span id="tos-confirmation-error" class="error-message"></span><br><br>
                    <input type="submit" value="Submit">
                </form>
            </section>
            <p>
                If you have already created an account, please click on the Login button below.
            </p>
            <input type="button" value="Login" onclick="window.location.href='/login'" />
        </main>
        {{> footer}}
        <script src="" async defer></script>
    </body>
</html>
